.banner {
  min-height: 540px;
  position: relative;
  background-image: url('../images/main-bg.webp');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;

  &-video {
    @include center;
    top: 35%;
  }
}
